html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
  background-color: #5a5a5a;
  text-align: center;
}

.profile {
  width: 250px;
  height: 250px;
  font-size: 250px;
  color: #FFF;
}

.title {
  font-size: 2em;
  font-weight: bold;
  color: #FFF;
}

.description {
  color: #FFF;
}

.nav {
  margin-top: 30px;
}

.nav-item {
  color: #ACACAC;
}

.nav-item:hover {
  color: #FFF;
}