@import "default.css";

.page-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 560px;
  background-color: #5a5a5a;
}

.error-inner {
  text-align: center;
  width: 680px;
  height: 520px;
  background-color: #ffffff;
}

.error-title {
  font-size: 3em;
  font-weight: bold;
}

.error-message {
  margin-top: 50px;
  font-size: 1.3em;
  word-break: break-word;
}