<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Post Editor</title>
    <link rel="stylesheet" href="/css/editor.css">
  </head>
  <body>
    <div class="page-wrapper">
      <form th:action="${post} == null ? 'post' : '/post/${post.id}/edit'" method="post" class="editor-form">
        <input title="title" name="title" placeholder="제목" th:value="${post} == null ? '' : ${post.title}"/>
        <textarea name="content" placeholder="내용을 입력하세요" th:text="${post} == null ? '' : ${post.title}"></textarea>
        <button type="submit">글쓰기</button>
      </form>
    </div>
  </body>
</html>