<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register</title>
  <link rel="stylesheet" href="css/register.css">
</head>
<body>
<div class="page-wrapper">
  <div class="register-wrapper">
    <p class="register-title">REGISTER</p>
    <form action="/register" method="post" class="register-form">
      <input title="username" name="username" placeholder="Username">
      <input title="nickname" name="nickname" placeholder="Nickname">
      <input title="password" name="password" placeholder="Password" type="password">
      <button type="submit" class="btn-register">회원가입</button>
    </form>
  </div>
</div>
</body>
</html>